Repository samchouse/snow.js: changes, and which lint-staged commands are due for each by the changed paths.
All: doctoc, eslint --ignore-path .gitignore --fix, prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "README.md": "doctoc",
  "*.ts": "eslint --ignore-path .gitignore --fix",
  "*.json": "prettier --write --ignore-path .gitignore"
}

fix(commandhandler): fixes & closes #25
  src/struct/commands/CommandHandler.ts
Due: eslint --ignore-path .gitignore --fix

ci(main): adds build test workflow
  .github/workflows/main.yml
Due: none

ci(main): fix test worflow
  .github/workflows/main.yml
Due: none

fix(deps): update dependency @discordjs/builders to ^0.8.0
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update dependency @trivago/prettier-plugin-sort-imports to v3
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update deps
  .prettierrc.js
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

style: format everything
  src/struct/commands/Command.ts
  src/struct/commands/CommandHandler.ts
  src/typings/index.ts
Due: eslint --ignore-path .gitignore --fix

feat(commandhandler): clear interval after registering commands
  src/struct/commands/CommandHandler.ts
Due: eslint --ignore-path .gitignore --fix

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update deps
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat(command): start implementing default permissions and permissions
  src/struct/commands/Command.ts
  src/typings/index.ts
Due: eslint --ignore-path .gitignore --fix

fix(deps): update dependency discord-api-types to ^0.26.0
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix(deps): update dependency @discordjs/builders to ^0.11.0
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat: initial commit
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc.js
  commitlint.config.ts
  package.json
  src/index.ts
  tsconfig.json
  tsup.config.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --fix, prettier --write --ignore-path .gitignore

fix(deps): update dependency @discordjs/builders to ^0.12.0
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix(deps): update dependency @discordjs/rest to ^0.3.0
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore: push everything
  package.json
  src/struct/commands/Command.ts
  src/struct/commands/CommandHandler.ts
  src/typings/index.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --fix, prettier --write --ignore-path .gitignore

chore(deps): add renovate.json
  renovate.json
Due: prettier --write --ignore-path .gitignore

chore(misc): add meta files
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .github/renovate.json
  .github/stale.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  LICENSE
  README.md
Due: doctoc, prettier --write --ignore-path .gitignore

feat: lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore: changelog
  CHANGELOG.md
  cliff.toml
  package.json
Due: prettier --write --ignore-path .gitignore

chore: meta files (#40)
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .github/renovate.json
  .github/stale.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  CHANGELOG.md
  LICENSE
  README.md
  cliff.toml
  package.json
  yarn.lock
Due: doctoc, prettier --write --ignore-path .gitignore

fix(misc): remove snyk
  README.md
Due: doctoc

fix: remove snyk (#41)
  README.md
Due: doctoc

feat(lib): start implementing lib
  package.json
  src/index.ts
  src/struct/SnowClient.ts
  src/struct/SnowHandler.ts
  src/struct/SnowModule.ts
  src/typings/index.ts
  src/utils/Category.ts
  src/utils/SnowError.ts
  tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore --fix, prettier --write --ignore-path .gitignore

chore(lib): reset lib, starting a new one like sapphire
  src/index.ts
  src/struct/SnowClient.ts
  src/struct/SnowHandler.ts
  src/struct/SnowModule.ts
  src/typings/index.ts
  src/utils/Category.ts
  src/utils/SnowError.ts
Due: eslint --ignore-path .gitignore --fix

chore(deps): update actions/setup-node action to v3
  .github/workflows/main.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
Due: none

feat(lib): create snowclient
  src/index.ts
  src/lib/SnowClient.ts
Due: eslint --ignore-path .gitignore --fix

chore(deps): update github/codeql-action action to v2
  .github/workflows/codeql-analysis.yml
Due: none

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update dependency tsup to v6
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix: upgrade deps
  .eslintrc.json
  package.json
  src/struct/SnowHandler.ts
  src/struct/commands/CommandHandler.ts
  src/utils/SnowError.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --fix, prettier --write --ignore-path .gitignore

chore: use renovate preset
  .github/renovate.json
Due: prettier --write --ignore-path .gitignore

chore: update renovate preset
  .github/renovate.json
Due: prettier --write --ignore-path .gitignore
